[2020-03-02 12:30] forgecitizens opened #13 "[Bug] Avalanche"
Si l'on déclenche une avalanche et que l'on ne touche plus à la souris ou au clavier, alors l'avalanche se "bloque" quand elle passe hors du champ de vision.
Une fois que l'on se déplace à nouveau et que l'on regarde à nouveau l'avalanche, alors la neige qui était immobile se remet à bouger, "tombe" parfois car suspendue dans les airs pour une raison inconnue

[2020-03-02 12:36] forgecitizens opened #14 "Bug - points de passage de la tempête"
Si l'on réinitialise les points de passage d'une tempête avant que celle-ci soit finie, on obtient divers bugs :
- La tempête s'immobilise au 5è point de passage et continue de tourner indéfiniment
- La tempête continue son chemin au-delà des points de passages initiaux puis s'arrête un peu plus tard
- La tempête "explose" et se disperse avant d'arriver au 5è point de passage initial
Il est égalem

[2020-03-02 12:46] forgecitizens opened #15 "Bug affichage des tempêtes"
Lors de la tentative de re-création du bug avec les tempêtes (#254 qui a été corrigé), on obtient une erreur d'affichage des tempêtes, puis une erreur :
- Les tempêtes sont invisibles et créent des interférences.
- Les tempêtes disparaissent, c'est comme si elles n'avaient jamais eu lieu. (Error: suspiciously large amout of objects...)
![tempete_invisible](https://user-images.githubusercontent.com

[2020-03-02 12:53] forgecitizens opened #16 "Rayure verticale de non calcul des inondations dans le mapper"
Dans le cartographer, lorsque l'inondation est affichée, il apparaît des rayures verticales non calculées (ou non affichées) de l'inondation
Cela n'est pas spécifique à une carte (rencontré plusieurs fois)
Exemple sur Champigny sur Marne et les boucles de la Marne, emprise de 5km par 5km, montée des eaux de 6 m
A noter : lorsque l'eau redescend, le même phénomène se produit avec des rayures vertic

[2020-03-03 00:17] kilbith commented on #14
J'arrive pas à reproduire les 3 comportements étranges suscités quand la tempête arrive à terme. Il est fort possible que ça soit des glitchs causés par la latence réseau entre le serveur et le client.

La requête demandée pour la réinitialisation des points de passage : c'est fait.

[2020-03-03 00:17] #14 closed, assigned to kilbith

[2020-03-03 10:39] forgecitizens opened #17 "Bug en voulant lancer un monde importé"
Sur le client du 03 Mars 2020 le jeu ne peut pas lancer le monde, il s'arrête pendant le chargement du monde avec ce message d'erreur qui apparaît à l'écran :

2020-03-03 11:36:00: WARNING[Main]: Switching to SQLite3 or PostgreSQL is advised, please read http://wiki.minetest.net/Database_backends.
2020-03-03 11:36:00: WARNING[Main]: /!\ You are using old auth file backend. This backend is deprecat

[2020-03-03 10:46] forgecitizens opened #18 "Modification de l'infotexte "Héberger une partie""
A la suite des changements apportés sur la façon pour les élèves de rejoindre un monde, il faudrait modifier l'infotexte (cf. pièce jointe) pour qu'il apparaisse comme suit :

Cochez cette case pour que votre poste fasse office de serveur local. Indiquez
votre pseudonyme et laissez le port tel quel. Sélectionnez une carte et lancez le serveur.
Vos élèves peuvent ensuite rejoindre votre monde depui

[2020-03-03 10:52] forgecitizens opened #19 "Traduction dans le menu non effectuée"
Plusieurs mots ne sont pas traduits dans le menu principal. Il est important que les menus les plus utilisés soient tous traduits en français.

1.  Lorsqu'on clique sur config. clavier dans le menu principal le mot "keybindings" apparaît. A la place il faut traduire par " Config. clavier ".
2. Dans ce même menu, il faut traduire "toggle pitchmove" par "Déplacement via souris"

![Capture d’écran (4

[2020-03-03 12:12] kilbith commented on #18
Fait.

[2020-03-03 12:12] #18 closed, assigned to kilbith

[2020-03-03 12:12] kilbith commented on #17
Corrigé.

[2020-03-03 12:12] #17 closed, assigned to kilbith, pyrollo

[2020-03-03 12:16] kilbith commented on #19
Fait.

[2020-03-03 12:16] #19 closed, assigned to kilbith

[2020-03-04 09:33] forgecitizens opened #20 "Renommer d'emblée la première carte importée"
Lorsqu'on n'a pas encore importé de carte dans le jeu, la première carte qu'on va importer sera automatiquement nommée minetest_alac. Ce n'est qu'à partir de la seconde carte que le jeu propose de choisir un titre pour celle-ci.

Il faudrait que le jeu offre la possibilité de donner un titre au monde systématiquement (donc dès la première map importée).

[2020-03-04 09:36] forgecitizens opened #21 "Messages d'erreurs relatifs aux dépendances au lancement d'une map"
Est-ce que c'est lié aux items récemment supprimés ?
![Capture d’écran (451)](https://user-images.githubusercontent.com/25570981/75865500-f36ad880-5e03-11ea-9619-a53972a6dd89.png)

[2020-03-04 09:37] forgecitizens opened #22 "L'onglet Menu IGN n'apparaît pas dans le jeu"
![Capture d’écran (452)](https://user-images.githubusercontent.com/25570981/75865648-290fc180-5e04-11ea-97bb-7f0c267a207c.png)

[2020-03-04 09:44] forgecitizens opened #23 "Traduction des textes sous les onglets manquantes"
Dans le jeu, quand on ouvre l'inventaire il y a des textes sous les onglets qui ne sont pas traduits.
Il faut donc traduire :

"storage" par "stockage"
"Trash all" par "Tout supprimer"
"building blocks" par "blocs de construction"
"decoration blocks" par "blocs décoratifs"
"items & tools" par " objets et outils"
" Interactive" par "Outils interactifs"
" Search items" par "Rechercher un objet"

![C

[2020-03-04 09:48] forgecitizens opened #24 "Les blocs et items dans le jeu sont tous en anglais"
Le menu enseignant est bien en français, le menu principal du jeu aussi ainsi que le menu Echap mais les blocs et objets sont systématiquement en anglais.

[2020-03-04 09:48] pyrollo commented on #22
Le mod "bucket" n'est plus dans le "minetest_game" mais xdecor en a besoin. C'est une mission pour @kilbith

[2020-03-04 10:25] #23 closed, assigned to kilbith

[2020-03-04 10:25] #24 closed, assigned to kilbith

[2020-03-04 12:03] #22 closed, assigned to kilbith, pyrollo

[2020-03-04 12:03] #21 closed, assigned to kilbith

[2020-03-04 13:41] forgecitizens opened #25 "Renommer l'infotexte "dessiner du texte" dans le cartographe"
Renommer l'infotexte "dessiner du texte" par "insérer un texte"
![Capture d’écran (456)](https://user-images.githubusercontent.com/25570981/75885083-2cb44000-5e26-11ea-961e-8255d523089b.png)

[2020-03-06 09:45] forgecitizens opened #26 "Message d'erreur avec la tempête"
Lors d'une grosse tempête, il arrive que l'erreur sur la quantité d'objet en une certaine coordonnée arrive.

ERROR[Server]: suspiciously large amount of objects detected: X in (Y); removing all of them.
X = nombre d'objets, Y = coordonnées

La tempête est donc supprimée avant d'avoir atteint le dernier point de passage, et il est impossible de replacer d'autres points de passages car considérée c

[2020-03-06 09:46] forgecitizens opened #27 "Disparition des points de passage de la tempête"
Lors du placement des points de tempête, il arrive souvent qu'un point disparaisse.

Sur l'image jointe, le point 2 a disparu
![disparition_points_de_tempete](https://user-images.githubusercontent.com/25570981/76072134-b899a980-5f97-11ea-91ce-c25b779b09e4.PNG)

[2020-03-06 12:00] #26 closed, assigned to kilbith

[2020-03-06 13:00] pyrollo commented on #25
Fait dans la dernière version

[2020-03-06 13:00] #25 closed, assigned to pyrollo

[2020-03-06 13:06] #27 closed, assigned to kilbith

[2020-03-06 13:09] #15 closed, assigned to kilbith

[2020-03-06 13:25] pyrollo commented on #20
Fait, par contre on part avec un nom vide (et plus minetest_alac).

[2020-03-06 13:26] #20 closed, assigned to pyrollo

[2020-03-06 13:26] pyrollo commented on #16
Testé : plus de bandes, même sur les grosses cartes.

[2020-03-06 13:26] #16 closed, assigned to pyrollo

[2020-03-09 13:25] forgecitizens opened #28 "Impossible de supprimer une carte"
Il est impossible de supprimer une carte dans le nouveau client, quand on clique sur le bouton rouge "Supprimer" pour confirmer, on est redirigé vers l'accueil du client mais la carte est toujours présente dans la liste.

[2020-03-09 14:04] pyrollo commented on #28
Impossible à reproduire, ni sous Linux ni sous Windows, avec un client récent.

[2020-03-19 08:37] forgecitizens opened #29 "Inclure un régle pour la récuperation des blocs que l'on casse"
Il faudrait que le joueur récupère systématiquement le même bloc qu'il casse.
Actuellement quand on casse de la pierre on récupère des pavés. Il faut donc qu'on récupère de la pierre à la place et appliquer cette règle à d'autres blocs s'il y a d'autres exceptions comme celles-ci.

[2020-03-19 16:53] #29 closed, assigned to kilbith

[2020-03-24 13:23] forgecitizens opened #30 "Feature : trier les cartes selon leur état"
Dans le menu principal, il faudrait une fonctionnalité qui trie automatique les cartes et les affiche dans cet ordre :
- Les cartes installées en tête de liste
- Les cartes prêtes à la suite
- Les cartes en préparation en fin de liste

[2020-03-24 14:30] forgecitizens opened #31 "Pouvoir importer une carte depuis une clé USB"
Il n'y a actuellement pas de possibilité de remonter à la racine (jusqu'au disque) pour aller chercher des cartes sur une clef USB.
Est-ce possible de mettre cela en place ?

[2020-03-24 14:33] forgecitizens opened #32 "Revenir au menu principal après un import"
Lorsqu'une carte a bien été importée via le bouton Importer on devrait être renvoyé vers le menu principal (onglet lancer une session) au lieu de rester sur le menu d'import des cartes.

[2020-03-24 14:54] #30 closed, assigned to kilbith

[2020-04-03 09:38] ThomasLyy opened #33 "Interface d'accueil trop petite"
Lorsque l'on lance Kidscode, le jeu est par défaut en petite fenêtre et l'interface est trop petite, le texte déborde des cases.

[2020-04-03 09:40] ThomasLyy opened #34 "Problème à l'import des cartes"
Quand je souhaite importer une carte, rien n'apparaît dans l'arborescence, même en affichant "Tous les fichiers" et non pas juste "ZIP / RAR".

[2020-04-03 09:46] forgecitizens opened #35 "La dynamite ne déclenche plus d'avalanche"
Lors de l'explosion des trois dynamites autorisées depuis le menu "Avalanche" , celles-ci ne déclenchent plus aucune avalanche.

[2020-04-03 09:48] forgecitizens commented on #34
Ca fonctionne sur mon client Thomas, as-tu la même version que le mien ? cf. le numéro de version en haut à gauche de ce screenshot
![Capture d’écran (661)](https://user-images.githubusercontent.com/25570981/78347554-f4c52780-75a0-11ea-9e64-db77536b7ae0.png)

[2020-04-03 09:50] forgecitizens commented on #33
@pyrollo On en a parlé hier, est-il possible de lancer le jeu par défaut en mode maximisé ?
@ThomasLyy Pour info le moteur du jeu ne supporte pas le plein écran. Le mieux qu'on pourra faire c'est d'avoir une fenêtre maximisée.

[2020-04-03 10:11] ThomasLyy commented on #34
J'ai la version 5.2.0-45c8b0ccc-45c8b0ccc, mais j'ai résolu le soucis. Je crois que c'était parce que j'avais installé Kidscode sur mon HDD et qu'il pointait naturellement vers mon SSD, du coup probablement un conflit à ce niveau là ?

[2020-04-03 10:23] ThomasLyy opened #36 ""Entrée" pour importer une carte"
Appuyer sur la touche "Entrée" pour valider le nom d'une carte importée ne fonctionne pas et fait revenir d'une étape en arrière (la sélection du fichier à importer).

[2020-04-03 10:30] forgecitizens commented on #36
En effet mais je sais qu'il y a un problème pour utiliser certaines touches @pyrollo pourra confirmer. Actuellement la touche Entrée ne fait que lancer un monde sélectionné je ne sais pas dans quelle mesure c'est possible de lui attribuer une autre fonction.

[2020-04-03 13:53] kilbith commented on #33
Je m'en occupe

[2020-04-03 13:54] kilbith commented on #34
Oui c'est normal. Le point d'entrée de l'arborescence ce sont les dossiers du système, pas les dossiers Kidscode.

[2020-04-03 13:54] #34 closed, assigned to kilbith, pyrollo

[2020-04-03 15:31] pyrollo commented on #35
Corrigé, à tester dans le prochain client.

[2020-04-03 15:46] pyrollo commented on #36
@Kickback9000 la fonction dépend du formspec affiché.
La touche "Entrée" valide maintenant le nom de la carte.
À tester dans le prochain client.

[2020-04-03 22:59] kilbith commented on #33
Fait.

[2020-04-03 22:59] #33 closed, assigned to kilbith

[2020-04-03 23:02] #35 closed, assigned to pyrollo

[2020-04-04 00:41] #36 closed, assigned to kilbith, pyrollo

[2020-04-05 16:58] LECORDIX opened #37 "Déclencher l'inondation d'une deuxième rivière totalement séparée de la première"
Si on a une carte avec 2 rivières indépendantes et qu'on veut faire monter l'eau sur l'une et l'autre rivière, il est impossible de sélectionner l'eau de la deuxième rivière après avoir sélectionné l'eau de la première rivière. On est bloqué sur l'eau de la première
Il faudrait un bouton pour repartir d'une autre source d'eau (pouvoir rouvrir le baton sélection d'eau)

[2020-04-05 17:05] LECORDIX opened #38 "Message d'erreur après utilisation du bouton exit to menu"
Dans la version kidscode 5.2.0-45c8b0ccc-45c8b0cc (2020-04-05), lorsqu'on utilise le bouton exit to menu, lorsqu'on réouvre la carte le message" Irrlicht : Invalid size of image for OpenGL texture" apparaît

[2020-04-05 17:14] LECORDIX opened #39 "Non déclenchement de la montée des eaux sur une grande surface ?"
Sur la carte de 7km sur 7km de la Faute sur Mer, le déclenchement de la montée de l'eau sur mer ne donne rien : le calcul indique calcul terminé immédiatement sans rien faire .
Il y a-t-l un verrouillage si la surface est trop grande ? Il faudrait au minimum un message explicatif.
(PS  : la montée de l'eau se produit bien si on la déclenche sur un lac à coté)

[2020-04-05 23:13] kilbith commented on #38
Les messages d'erreur Irrlicht ne devraient plus apparaître dans le prochain client.

[2020-04-05 23:13] #38 closed, assigned to nobody

[2020-04-06 08:24] pyrollo commented on #37
Pour cela, il faut refaire un clic gauche avec le bâton d'eau sur l'autre surface d'eau. C'est elle qui va alors être contrôlée depuis le menu (et refaire un nouveau clic sur la première si l'on veut revenir dessus).

[2020-04-06 08:24] #37 closed, assigned to pyrollo

[2020-04-06 08:26] pyrollo commented on #32
Modification faite.

[2020-04-06 08:26] #32 closed, assigned to kilbith, pyrollo

[2020-04-06 09:21] pyrollo commented on #39
Il y a deux problèmes possibles :
- La position de départ choisie est en dehors de la zone de simulation (qui est petite pour cette carte, à priori +/- 500 autour du point 0, définie en fonction des données géographiques). Un message va être ajouté pour avertir quand cela se produit.
- Le remplissage rencontre des blocs vides qui n'ont pas encore d'existence sur la carte (le remplissage est bloqué

[2020-04-06 09:27] LECORDIX commented on #39
A priori, je dirais c'est l'option 1
Mais c'est dommage...
En fait j'ai centré la carte pour avoir toute l'emprise qui m'intéressait pour cartographier le phénomène concerné (et non centré sur l'endroit où je veux clqiuer)
Et ensuite je déclenche là où il y a la mer

[2020-04-06 14:56] forgecitizens opened #40 "Textes décalés et pas cadrés au lancement du jeu"
Le jeu se lance bien en mode fenêtre maximisée mais les textes sont décalés et trop gros.
Y'a-t-il une possibilité d'utiliser la résolution de l'écran actuellement active chez l'utilisateur et de calquer la résolution de kidscode dessus ?
Sur le kidscode de base le jeu se calque bien sur ma résolution native sans que j'aie à modifier les paramètres.

![Capture d’écran (669)](https://user-images.gi

[2020-04-06 15:07] forgecitizens opened #41 "Jeu en anglais"
Il faut systématiquement s'assurer que le client ait pour langue par défaut le FR

[2020-04-06 15:09] kilbith commented on #41
Problème de build

[2020-04-06 15:12] pyrollo commented on #39
La limite de la zone de simulation est donnée par le fichier geometry.dat. Elle correspond aux quatre coins donnés pour le calcul des coordonnées. Sur cette carte, ces coins sont en +-614, ce qui explique la surface réduite.
Par contre, sur de grandes cartes, comme celle-ci, les performances risquent d'être assez mauvaiseS.

[2020-04-07 07:13] forgecitizens opened #42 "La carte Moutiers au Perche ne se télécharge pas + crash"
Je suis bloqué à l'écran de téléchargement depuis plus de dix minutes.
Quelqu'un peut essayer de la télécharger aussi et me dire si ça marche de votre côté ?
![Capture d’écran (678)](https://user-images.githubusercontent.com/25570981/78640450-0d3e8600-78b0-11ea-8ac5-18e2abfb0576.png)

[2020-04-07 07:17] forgecitizens opened #43 "Page blanche au chargement de n'importe quel monde"
En chargeant n'importe quel monde installé une page blanche s'affiche par-dessus la fenêtre de jeu. Même une fois la carte chargée la page blanche reste affichée et je suis obligé d'appuyer sur le bouton Windows et de sélectionner à la souris la fenêtre du jeu.

Cette fenêtre vide n'aparaissait pas dans les anciens clients.

![Capture d’écran (683)](https://user-images.githubusercontent.com/255709

[2020-04-07 07:50] forgecitizens opened #44 "On ne peut plus casser des blocs en maintenant clic gauche enfoncé"
Il faut désormais cliquer une fois pour casser un bloc. Si on maintient le clic gauche enfoncé le bloc suivant ne se casse plus.

Il faudrait remettre le paramètre qui existait avant par défaut sur les prochains clients.
![Capture d’écran (684)](https://user-images.githubusercontent.com/25570981/78643780-1847e500-78b5-11ea-91e8-e8f166636e21.png)

[2020-04-07 07:53] forgecitizens opened #45 "L'interface n'as plus une taille unie sur tous les boutons et formspecs"
Il y a un gros décalage entre la taille de l'inventaire (qui ressemble plus à ce que l'on avait la semaine dernière) et la taille de la hotbar par exemple ou des boutons dans le menu échap.
L'ensemble n'est plus aussi harmonieux qu'avant.
![Capture d’écran (685)](https://user-images.githubusercontent.com/25570981/78644103-a328df80-78b5-11ea-8285-c1252ff73b4c.png)

[2020-04-07 08:00] forgecitizens commented on #41
Résolu avec le client du 07/04/2020

[2020-04-07 08:00] #41 closed, assigned to pyrollo

[2020-04-07 10:10] forgecitizens opened #46 "Problème de lancement des cartes sur le cartographe"
Peu importe la carte sélectionnée, le cartographe n'en lance aucune et se ferme automatiquement.

[2020-04-07 10:13] forgecitizens commented on #46
![Capture d’écran (688)](https://user-images.githubusercontent.com/25570981/78657491-23a50b80-78c9-11ea-9332-a49f5538a635.png)

[2020-04-07 10:21] forgecitizens opened #47 "Crash ingame sur carte nouvellement importée"
J'ai importée une carte de Paris , j'ai pu me connecter mais après avoir cassé deux blocs seulement le jeu a crashé.

Détails du fichier debug via le lien ci-dessous :

https://pastebin.com/Nzs0gCcQ

[2020-04-07 12:01] forgecitizens opened #48 "Renommer l'éxécutable kidscode.exe en IGNkidscode.exe"
L'éxecutable est redevenu kidscode.exe ce qui crée des conflits lorsqu'on a deux installations de kidscode de base + kidscode IGN.

[2020-04-07 13:28] kilbith commented on #45
Je vais annuler les changements récents faits sur le DPI scaling

[2020-04-07 13:32] kilbith commented on #40
Corrigé avec a4d4494ea0550f6fd3750ddadf7482e34fa5277c

[2020-04-07 13:32] #40 closed, assigned to kilbith

[2020-04-07 13:32] kilbith commented on #45
Corrigé avec a4d4494ea0550f6fd3750ddadf7482e34fa5277c

[2020-04-07 13:32] #45 closed, assigned to kilbith

[2020-04-07 18:03] LECORDIX commented on #44
La nouvelle version du 07/04/20 résout ce problème : en restant appuyer en clic gauche on casse plusieurs blocs

[2020-04-08 10:00] pyrollo commented on #48
L'exécutable reste kidscode.exe mais le dossier d'installation, le dossier de données (là où il y a les cartes) ainsi que l'icone sur le bureau sont renommés en KidscodeIGN.

[2020-04-08 10:00] #48 closed, assigned to pyrollo

[2020-04-08 10:01] pyrollo commented on #47
Je n'ai pas réussi à reproduire ça. Cela t'arrive souvent ?

[2020-04-08 10:02] pyrollo commented on #46
Problème à résoudre avec le module UPNP qui se plante sur ton Windows (pas reproduit en virtualisé). Le module est désactivé en attendant.

[2020-04-08 10:02] #46 closed, assigned to pyrollo

[2020-04-08 11:35] forgecitizens commented on #47
@pyrollo  J'ai essayé avec d'autres cartes mais je n'ai pas réussi à reproduire ce bug. Bizarre =/

[2020-04-08 14:53] pyrollo commented on #43
Corrigé dans le prochain client.

[2020-04-08 14:53] #43 closed, assigned to kilbith, pyrollo

[2020-04-08 15:26] forgecitizens commented on #28
Je n'ai plus eu ce problème depuis deux semaines je ferme donc.

[2020-04-08 15:26] #28 closed, assigned to pyrollo

[2020-04-09 07:30] pyrollo commented on #42
Essayé avec un peu de retard, ça fonctionne bien chez moi.
Le lien direct pour cette carte afin de vérifier les pb de connexions :
http://minecraftdl.ignfab.com/kidscode_alac-rcknW56it1fICOoi.zip

[2020-04-09 09:21] forgecitizens commented on #42
Merci je regarde ;)

Le jeu. 9 avr. 2020 à 09:31, Pierre-Yves Rollo <notifications@github.com> a
écrit :

[2020-04-09 10:06] forgecitizens opened #49 "Crash ingame sur carte déjà installée"
Sur la carte Montgenèvre que j'avais sur le PC depuis plus d'une semaine j'ai eu pour la première fois un crash avec le client du 09/04/2020.

[code]

[2020-04-09 10:14] forgecitizens commented on #42
J'ai pu l'importer sans problème et me connecter dessus mais j'ai eu un crash.
Pour info : j'ai fait un fresh install (supprimé tous les fichiers du jeu, les mondes, y compris les dossiers laissés sur le pc après désinstallation de l'ancien client).

![Capture d’écran (718)](https://user-images.githubusercontent.com/25570981/78884717-b07fce80-7a5b-11ea-9836-69031ebd1559.png)

[2020-04-09 10:32] forgecitizens commented on #42
Le message complet est ici :
https://pastebin.com/mW0G9YLC

[2020-04-09 11:54] forgecitizens opened #50 "Utiliser la fonction "avancer plus vite" du bouton "E" (par défaut) dans les airs aussi"
Quand on est au sol et qu'on appuie sur "E" on avance beaucoup plus vite. Or, cette fonctionnalité très utile ne marche pas quand on est en train de voler. Est-il possible de la rendre active quand on vole aussi ?

Edit : Je constate que la vitesse qu'on obtient au sol en appuyant sur "E" est identique à celle que l'on obtient automatiquement en volant si on active vitesse rapide avec la touche "J

[2020-04-09 12:09] forgecitizens opened #51 "Fichier debug rempli de " 2020-04-09 13:54:58: WARNING[MeshUpdate] ... ""
En faisant une montée du niveau de l'eau, au bout de quelques secondes de calcul le jeu a crashé et dans le debug la ligne suivante apparaît plusieurs centaines de fois à la même heure.

2020-04-09 13:54:58: WARNING[MeshUpdate]: Map::getNodeMetadata(): Block not found

[debug.txt](https://github.com/EvidenceBKidscode/kidscode/files/4456016/debug.txt)

[2020-04-09 12:25] forgecitizens opened #52 "Problème d'affichage des points de passage de la tornade"
Les points de passage apparaissent désormais en noir peu importe où je les place.
![Capture d’écran (719)](https://user-images.githubusercontent.com/25570981/78894758-f5acfc00-7a6d-11ea-853c-9d925b7dbb9a.png)

[2020-04-09 12:28] forgecitizens opened #53 "Chute drastique des fps lors d'une tornade très grande"
La tornade petite et moyennent fonctionnent convenablement (entre 30 et 55 fps) mais lors d'une très grande tornade je tombe à 4 fps.

![Capture d’écran (720)](https://user-images.githubusercontent.com/25570981/78894932-4290d280-7a6e-11ea-9bcf-d3cebe78134d.png)

[2020-04-09 14:33] forgecitizens opened #54 "Blocs noirs qui apparaissent dans la tornade"
Beaucoup de blocs noirs apparaissent dans les tornades. Comment puis-je savoir de quel bloc il s'agit en particulier ?
![Capture d’écran (722)](https://user-images.githubusercontent.com/25570981/78906516-bd161e00-7a7f-11ea-88e3-99f6f298ad8d.png)

[2020-04-09 14:34] kilbith commented on #52
Corrigé.

@pyrollo Il faudrait faire un pull sur upstream comme 5.2 est enfin sorti.

[2020-04-09 14:34] #52 closed, assigned to kilbith

[2020-04-09 14:35] kilbith commented on #53
C'est normal, c'est lié à un grand nombre d'entités. On peut pas faire grand chose dessus.

[2020-04-09 14:37] kilbith commented on #54
C'est surement le même problème que ça : https://github.com/EvidenceBKidscode/kidscode/issues/52

Mais ça été corrigé.

[2020-04-09 14:37] #54 closed, assigned to kilbith

[2020-04-09 14:57] forgecitizens commented on #44
Résolu chez moi aussi avec le dernier client.

[2020-04-09 14:57] #44 closed, assigned to kilbith, pyrollo

[2020-04-09 15:10] pyrollo commented on #52
C'est noté pour le pull.

[2020-04-09 16:13] kilbith commented on #42
Le std::bad_alloc me fait penser à un OOM de la machine Lua.

[2020-04-09 18:06] kilbith commented on #42
@pyrollo Peut-être qu'on peut récupérer la librairie LuaJIT constuite avec un garbage collector en 64 bits dans le build officiel Windows de Minetest.

[2020-04-09 19:50] kilbith commented on #50
Fait.

[2020-04-09 19:50] #50 closed, assigned to kilbith

[2020-04-09 19:58] kilbith commented on #42
https://github.com/EvidenceBKidscode/kidscode/issues/47 et https://github.com/EvidenceBKidscode/kidscode/issues/49 indiquent les mêmes erreurs dans les logs, c'est surement le même problème. Je ferme ces tickets pour éviter les doublons.

[2020-04-09 19:58] #47 closed, assigned to pyrollo

[2020-04-09 19:58] #49 closed, assigned to pyrollo

[2020-04-10 07:40] pyrollo commented on #42
Pour mémoire, extrait du log:
[code]

[2020-04-10 07:43] pyrollo commented on #47
Une seule ligne concernant cet exception dans le log:

[code]

[2020-04-15 07:34] forgecitizens opened #55 "Fenêtre qui porte à confusion lors d'une connexion à un serveur"
Quand on se connecte au serveur d'un prof, même si ce dernier n'aura pas défini de mot de passe pour le serveur, une fenêtre demande quand même d'entrer le mot de passe et de s'enregistrer. Celle-ci n'a pas lieu d'être sauf si l'enseignant a mis un mot de passe mais si ce n'est pas le cas elle ne devrait pas apparaître.

Sur la fenêtre qui devrait apparaître il faudrait simplement demander à l'uti

[2020-04-15 07:40] forgecitizens opened #56 "La feature "protéger une zone" dans World Edit semble cassée"
La feature "Area protect" du world edit ne fonctionne plus.

Définir une zone à l'aide du marteau world edit. Ajouter un nom à la zone. Attribuer un propriétaire. Définir les droits des élèves pour ne pas qu'ils puissent casser ou poser de blocs. Protéger la zone. Ensuite, en connectant un élève sur le serveur qui n'a que les privilèges /interact et /shout il pourra quand même casser tout ce qui s

[2020-04-15 13:13] kilbith commented on #55
Il n'y a pas de de mot de passe du serveur, un mot de passe c'est nécessairement personnel. En outre, dans tous les formulaires d'inscription existants sur le web, on demande **toujours** une confirmation du mot de passe, ce qui me parait logique.

[2020-04-15 13:37] kilbith commented on #56
Testé en multijoueur local, la fonctionnalité marche parfaitement en tentant de casser des blocs dans une zone protégée :

![screenshot_20200415_153621](https://user-images.githubusercontent.com/7883281/79343642-ed056b80-7f2e-11ea-82ac-93045b35ea87.png)

[2020-04-15 13:46] forgecitizens commented on #55
Ok mais ça ne fait pas de sens de demander un mot de passe à l'utilisateur à ce stade du jeu étant donné que dans l'onglet "Rejoindre un serveur" l'utilisateur a choisi de ne pas mettre de mot de passe.
C'est bien écrit " please retype your password " or c'est pas logique qu'on demande ça aux élèves à moins qu'ils aient choisi au préalable un mot de passe depuis le menu "rejoindre un serveur".

[2020-04-15 13:48] forgecitizens commented on #56
Peux-tu ouvrir kidscode en mettant ce lien dans ton navigateur web s'il te plaît :
kidscode://40c2d7cbe45863c925b81faaf3a72c42b3e407519d74759ad04ca05674bbbfeae40121a9d318b0e7d509d0fc0df2d9234d23777cea758e90ad72359bbfd5f705

Télécharge ensuite une map IGN balisée "Prête" sur ton PC et teste la feature area protect sur l'une de ces maps.
Merci

[2020-04-15 13:52] kilbith commented on #55
Alors si l'utilisateur choisit de ne pas rentrer de mot de passe, cette fenêtre ne devrait pas s'afficher. Si il en a choisi un par contre, il est fortement recommandé de lui demander une confirmation pour éviter qu'il entre un mot de passe mal tapé (et donc non-mémorisable) lors de la première saisie.

[2020-04-15 13:57] forgecitizens opened #57 "Bug dans la feature "area protect" - bouton Autoriser la construction"
Quand on veut modifier les autorisations au sein d'une zone protégée , en cliquant par exemple sur "Autoriser la destruction" on retourne automatiquement au menu précèdent.

![Capture d’écran (734)](https://user-images.githubusercontent.com/25570981/79345757-ceed3a80-7f31-11ea-8dff-6fe8620b12ce.png)

[2020-04-15 14:04] kilbith commented on #56
Qu'importe la map en multi, ça ne change rien aux conditions de test. Les nodes sont fondamentalement les mêmes.

Mais pour te faire plaisir j'ai testé sur Antibes et c'est la même chose, ça marche :

![screenshot_20200415_160203](https://user-images.githubusercontent.com/7883281/79346395-99951c80-7f32-11ea-8459-02e27a6383b8.png)

[2020-04-15 14:10] kilbith commented on #57
Tu veux dire que lorsque tu cliques sur ces entrées dans les listes déroulantes, tu reviens immédiatement au menu précédent ? Chez moi ça le fait pas en tout cas.

[2020-04-15 15:00] kilbith commented on #55
A tester : https://github.com/EvidenceBKidscode/kidscode/commit/b70187ff44cc0135fddb52440b9556a9d4e930e9

[2020-04-15 15:32] forgecitizens commented on #55
Oui c'est exactement ça il ne faut juste pas qu'elle s'affiche quand on n'a pas choisi de mot de passe au préalable ;)

[2020-04-16 08:11] forgecitizens opened #58 "Scan25 et photo aérienne ne s'affichent pas sur les cartes grande emprise"
Comme indiqué dans le titre ces cartes ne s'affichent pas dans la minimap.

![Capture d’écran (738)](https://user-images.githubusercontent.com/25570981/79431090-3d7dd700-7fca-11ea-9e71-668627a36caa.png)

Dans le dossier /worldmods j'obtiens ces deux fichiers qui font 6ko à peine
![Capture d’écran (740)](https://user-images.githubusercontent.com/25570981/79431296-89c91700-7fca-11ea-9ef3-76d9c4d1662

[2020-04-16 10:37] forgecitizens opened #59 "Modifier le titre " Niveau de l'eau " en " Innondation " dans le menu IGN"
/

[2020-04-16 13:43] kilbith commented on #59
Fait.

[2020-04-16 13:43] #59 closed, assigned to kilbith

[2020-04-16 13:52] forgecitizens commented on #57
Pardon ton message est passé à la trappe oui c'est ça je reviens en arrière dès que je clique sur une entrée. @pyrollo tu pourras tester de ton côté aussi s'il te plaît ? Merci

[2020-04-17 07:07] pyrollo commented on #57
Pareil chez moi (mais sur d'autres formspec de worldedit, pas de pb).

[2020-04-17 09:07] forgecitizens opened #60 "Crash : après avoir placé une dalle en argile dans le jeu"
Pastebin du crash :
https://pastebin.com/bmWpTfKk

[2020-04-17 09:19] forgecitizens opened #61 "WorldEdit : Défilement étrange des pages de sélection de blocs"
Par exemple dans la feature "set nodes" du World Edit et dans toute autre feature affichant l'inventaire complet , quand on clique sur flèche gauche ou droite pour faire défiler les blocs ceux-ci défilent ligne après ligne.
Il faudrait qu'ils défilent page par page par exemple ou alors une colonne à la fois.
![Capture d’écran (745)](https://user-images.githubusercontent.com/25570981/79553780-51463

[2020-04-17 10:05] pyrollo commented on #57
Je suis en train de revoir la partie Area de Worldedit

[2020-04-17 10:25] forgecitizens opened #62 "WorldEdit : La fonction "Copy/paste" est buguée"
Dans cette feature on a l'option de donner un nom à une construction et de la sauvegarder en mémoire pour la coller ailleurs sur la carte. Or lorsque je donne un nom à ma construction elle n'apparaît pas dans la liste déroulante et je ne peux donc pas la charger ailleurs sur la carte.
![Capture d’écran (746)](https://user-images.githubusercontent.com/25570981/79559686-7e4b1e00-80a6-11ea-830f-6eb51

[2020-04-17 13:04] pyrollo commented on #60
Très probablement dû au rebase de Minetest_game vers 5.2

[code]

[2020-04-17 13:13] pyrollo commented on #60
Corrigé

[2020-04-17 13:13] #60 closed, assigned to kilbith

[2020-04-17 13:25] pyrollo commented on #56
Pour moi aussi ça fonctionne mais il y avait peut être des problèmes dans la partie "protéger une zone". A retester avec la nouvelle version.

[2020-04-17 13:35] pyrollo commented on #58
Le problème a l'air de venir de la génération de carte. Les images dans les worldmods devait correspondre à la carte et à la dimension de la carte. L'exemple que j'avais est celui de la Faute sur mer qui avait des images top25 et ortho inadaptées.

[2020-04-17 13:36] pyrollo commented on #57
C'est corrigé.

[2020-04-17 13:36] #57 closed, assigned to pyrollo

[2020-04-20 01:19] kilbith commented on #61
Corrigé.

[2020-04-20 01:19] #61 closed, assigned to kilbith

[2020-04-20 01:25] kilbith commented on #62
J'ai testé et la fonctionnalité marche correctement :

![screenshot_20200420_032425](https://user-images.githubusercontent.com/7883281/79705582-78c42280-82b6-11ea-8ec1-534557b7530b.png)

![screenshot_20200420_032645](https://user-images.githubusercontent.com/7883281/79705710-f851f180-82b6-11ea-9678-4c845a4da464.png)

[2020-04-20 01:29] kilbith commented on #55
Est-ce que mon commit a été testé ?

[2020-04-20 06:05] ThomasLyy opened #63 "Bug avec le clic molette"
##### Minetest version

[code]

##### OS / Hardware

Operating system: Windows 10
CPU: i7-4790K

##### Summary
Si l'on effectue un clic molette vers un bloc avec, en main, un bloc impossible à placer (style seau ou autre), le jeu crash avec l'erreur suivante :
AsyncErr: environment_Step: Runtime error from mod 'utils' in callback environment_Step(): "bucket:bucket_lava" is not a registered node!
s

[2020-04-20 09:07] forgecitizens opened #64 "World Edit - Cacher complétement le bouton " Features avancées ""
Trop de fonctionnalités avancées du world edit donnent lieu à des comportements aléatoires. Par exemple " cancel action " n'annule quasiment jamais l'action précèdente mais modifie des blocs qu'on ne veut pas modifier.
Vu qu'on ne peut pas supprimer ces fonctions avancées il faudrait :
1. Enlever le bouton "Avancé" du menu World Edit
2. Ajouter les features "set nodes" et "copy/move" dans le menu

[2020-04-20 09:07] forgecitizens commented on #64
![worldedit](https://user-images.githubusercontent.com/25570981/79734546-30792480-82f7-11ea-9d3d-670784912d96.png)

[2020-04-20 09:15] pyrollo commented on #63
Corrigé, le click de la molette de fait plus rien si l'on tient un objet non plaçable.

[2020-04-20 09:15] #63 closed, assigned to kilbith

[2020-04-20 10:46] forgecitizens opened #65 "Mod xpanes - problème d'affichage des textures des nodes"
Les nodes du mod xpanes affichent un contour bleu. Certains blocs issus de ce mod comme les grilles de bambou, lorsqu'on les détruit, affichent un message d'erreur dans le jeu.
![Capture d’écran (756)](https://user-images.githubusercontent.com/25570981/79743458-e6973b00-8304-11ea-8f50-7bf130fe9a51.png)

![Capture d’écran (754)](https://user-images.githubusercontent.com/25570981/79743472-eb5bef00-8

[2020-04-20 13:33] pyrollo commented on #65
Corrigé

[2020-04-20 13:33] #65 closed, assigned to kilbith

[2020-04-20 13:53] kilbith commented on #64
Fait.

[2020-04-20 13:53] #64 closed, assigned to kilbith

[2020-04-20 15:13] forgecitizens opened #66 "Feature /map - améliorations"
Suivre les indications du .pdf associé
[amelioration_feature_map.pdf](https://github.com/EvidenceBKidscode/kidscode/files/4504391/amelioration_feature_map.pdf)

[2020-04-22 08:29] #53 closed, assigned to kilbith

[2020-04-22 08:34] forgecitizens commented on #42
Je ferme cela fonctionne avec le dernier client.

[2020-04-22 08:34] #42 closed, assigned to pyrollo

[2020-04-22 12:53] forgecitizens opened #67 "Fonction "rechercher" de l'inventaire ne prend pas en compte le français"
Beaucoup de blocs sont introuvables via la fonction "rechercher" de l'inventaire si on utilise le français.
Par exemple, si j'écris "bois" je n'obtiens qu'un seul bloc en bois comme résultat alors qu'avec "wood" je les retrouve tous.
![Capture d’écran (792)](https://user-images.githubusercontent.com/25570981/79984115-ff405600-84a8-11ea-919b-e0b96862b97e.png)

![Capture d’écran (793)](https://user-

[2020-04-22 14:15] pyrollo commented on #66
Fait !

[2020-04-22 14:15] #66 closed, assigned to pyrollo

[2020-04-22 14:28] kilbith commented on #67
@pyrollo C'est à cause des traductions côté client. `def.description` reste malgré tout en anglais alors qu'avant avec `intllib` les traductions se faisaient au chargement du jeu.

[2020-04-22 14:35] pyrollo commented on #67
Oui, j'essaye de voir s'il est possible de charger les traductions FR côté serveur même si c'est un peu tordu.

[2020-04-22 14:50] forgecitizens opened #68 "Mettre à jour le fichier des nodes à garder dans le jeu"
Avec la nouvelle version de Minetest il y a eu trop de blocs inutiles qui se sont ajoutés au jeu.
Utiliser la liste ci-jointe pour ne garder que ces nodes-là dans le jeu.
Je verrai avec le prochain client si tout a été bien supprimé.
[kc_list.txt](https://github.com/EvidenceBKidscode/kidscode/files/4516870/kc_list.txt)

[2020-04-22 16:33] kilbith commented on #68
La liste est incomplète, il manque des nodes importants car ils sont placés par la mapgen tels que :

[code]

**+** les fleurs, les papillons, les pousses d'arbres, les plants de coton et les barrières en bois. Et probablement d'autres nodes importants et très utilisés.

Merci de rectifier.

[2020-04-23 08:10] forgecitizens commented on #68
@pyrollo  Tu pourras faire une liste à jour ? Si possible en utilisant celle que j'ai déjà mis à jour et ne rajouter que ce dont Jean Patrick a besoin. Merci

[2020-04-23 10:41] pyrollo commented on #68
Il manquait les alias dans la liste d'origine.

Je t'ai fait quatre listes : alias d'un côté, nodes et items de l'autre, à garder et à supprimer.

[Alias à conserver.txt](https://github.com/EvidenceBKidscode/kidscode/files/4521899/Alias.a.conserver.txt)
[Alias à supprimer.txt](https://github.com/EvidenceBKidscode/kidscode/files/4521900/Alias.a.supprimer.txt)
[Node et items à conserver.txt](https:/

[2020-04-23 11:56] pyrollo commented on #67
C'est corrigé, ça prend maintenant en compte le français, l'anglais et le nom technique de l'item.

[2020-04-23 13:01] kilbith commented on #67
Mais du coup upstream doit avoir le même problème, il serait peut-être judicieux de backporter ces patchs pour revue.

[2020-04-23 13:12] forgecitizens commented on #68
@kilbith  A partir de là de quoi as-tu besoin comme fichier exactement ? Est-ce que tu veux un fichier seul avec les alias et les nodes items à conserver ? Ou est-ce que tu veux à la fois les nodes/items/alias à conserver et les nodes/items/alias à supprimer dans un fichier différent ?

[2020-04-23 13:24] kilbith commented on #68
C'est bon pour moi

[2020-04-23 15:03] kilbith commented on #68
Franchement c'est n'importe quoi les fichiers des alias... Je ne sais pas à quoi correspond ces items qui sont listés un à un et vers quoi ils sont aliasés...

[2020-04-23 15:04] pyrollo commented on #67
C'est fait !

[2020-04-23 15:04] kilbith commented on #68
Y'a pas non plus la nécessité de faire une liste des items à supprimer. Tout ce qui ne figure pas dans les items à conserver doit être éliminé.

[2020-04-23 15:12] kilbith commented on #68
Bon j'ai poussé ça mais c'est encore incomplet, il manque des nodes essentiels utilisés par la mapgen : https://github.com/EvidenceBKidscode/ign/commit/89e56cebe2a3b32e2e28d6a5756d9e33c330c2a1

Je laisse la main à @pyrollo pour les questions de suppression d'items car les demandes ne sont pas carrées.

[2020-04-24 07:58] forgecitizens opened #69 "Impossible de casser des blocs"
Sur le client du 24 Avril, je ne peux pas casser de blocs pourtant j'ai bien tous les privilèges requis.
Aussi, lorsque j'essaie de casser je vois sur le mouvement du bras que le bras est plus petit qu'avant.
![Capture d’écran (804)](https://user-images.githubusercontent.com/25570981/80188922-28302a80-8612-11ea-8206-76b45324c1ae.png)

[2020-04-24 08:25] forgecitizens opened #70 "Items rétractables - Item stairs:stair not defined"
Le mod fonctionne très bien avec les nodes compatibles workbench. Pour quelques blocs seulement il manque simplement le stairs:stair qui n'est pas défini.

default:sandstone_normal_2
default:stone_2
default:stone_andesite_smooth_2
default:stone_diorite_2
default:stone_diorite_smooth_2
default:stonebrick_2
default:stonebrick_cracked_2
hardenedclay:hardened_clay
hardenedclay:hardened_clay_black
hard

[2020-04-24 08:27] forgecitizens opened #71 "Items rétractables - Les nodes issus de "kidsblocks_native" sont incompatibles"
Si tel est le cas, il faudrait alors les enlever de la liste des nodes rétractables et ne garder que le reste.

![Capture d’écran (805)](https://user-images.githubusercontent.com/25570981/80191494-13559600-8616-11ea-809f-2853a0d2f307.png)

[2020-04-24 08:34] forgecitizens commented on #67
C'est mieux que la dernière fois mais on voit encore une grande différence. Pas la peine de travailler plus que ça dessus pour le moment mais à garder de côté pour plus tard.

![Capture d’écran (806)](https://user-images.githubusercontent.com/25570981/80192160-10a77080-8617-11ea-9d55-3828143c758d.png)

![Capture d’écran (807)](https://user-images.githubusercontent.com/25570981/80192250-30d72f80-86

[2020-04-24 08:34] #67 closed, assigned to kilbith, pyrollo

[2020-04-24 08:56] pyrollo commented on #69
Corrigé.

[2020-04-24 08:56] #69 closed, assigned to kilbith, pyrollo

[2020-04-24 09:24] pyrollo commented on #67
Ok, en fait c'est dû au fait que les noms techniques des blocs comportent le mot "wood". Par exemple "barrière en chêne" se nomme "oak_wood_fence" (qui n'est jamais traduit). On n'a jamais le mot "bois". La seule solution serait de nommer les items "barrière en bois de chêne".

[2020-04-24 09:35] forgecitizens opened #72 "/map donne lieu à un crash + message d'erreur"
Message disponible ci-dessous
https://pastebin.com/SxUVL0nE

![Capture d’écran (809)](https://user-images.githubusercontent.com/25570981/80197931-a941ee80-861f-11ea-9331-3b51fa54a68c.png)

[2020-04-24 12:52] forgecitizens commented on #55
@kilbith @pyrollo
Testé avec le client de ce matin aussi. La création de serveur local fonctionne. Mais quand je veux connecter un deuxième user sans avoir attribué de mot de passe je bloque sur la fenêtre de chargement
![Capture d’écran (812)](https://user-images.githubusercontent.com/25570981/80214459-27f85500-863b-11ea-8b84-d136c702d086.png)

[2020-04-26 23:41] kilbith commented on #55
Alors j'ai testé exactement dans les mêmes conditions et je suis arrivé à me connecter sans qu'on me demande une confirmation de mot de passe.

[2020-04-26 23:44] forgecitizens commented on #55
Je reste demain c'est tordu cette histoire

[2020-04-26 23:44] kilbith commented on #71
Corrigé.

[2020-04-27 00:13] kilbith commented on #70
Ça fait une 1h30 que je cherche, je trouve pas l'origine de ce problème :(

[2020-04-28 09:36] forgecitizens commented on #56
![Capture d’écran (820)](https://user-images.githubusercontent.com/25570981/80471821-3baa0100-8944-11ea-93c7-9a19245cdfde.png)
J'essaie de tester mais en voulant connecter un deuxième user sur le serveur local je bloque à cette étape du chargement du monde.
Est-ce que vous avez la même chose avec le dernier client kidscode-installer-win64-20200424-105504 ?

[2020-04-28 11:51] pyrollo commented on #72
Corrigé, la command n'a plus lieu d'être, elle a été supprimée.

[2020-04-28 11:51] #72 closed, assigned to pyrollo

[2020-04-28 11:51] pyrollo commented on #68
Ca a l'air d'être bon maintenant.

[2020-04-28 11:51] #68 closed, assigned to pyrollo

[2020-04-28 13:26] forgecitizens opened #73 "Créer une fenêtre d'accueil dès lors qu'on rejoint un monde"
Cette fenêtre s'affiche dès lors que **l'on rejoint un monde pour la première fois**.
Elle comporte plusieurs boutons cliquables qui renvoient vers une page associée.
L'utilisateur clique sur un choix et on lui présente des informations de base concernant ce qu'il souhaite faire. (cf. pdf en pièce jointe)
[Mockup_formspec_accueil_ingame.pdf](https://github.com/EvidenceBKidscode/kidscode/files/4546

[2020-04-28 14:09] forgecitizens opened #74 "Mods inutiles à enlever définitivement du jeu"
Etant donné que les maps IGN n'utilisent pas les blocs de ces mods pour être correctement affichées et que nous n'avons pas du tout besoin de ces mods il faudrait à l'avenir les enlever définitivement de notre version de kidscode.

Merci de m'informer à l'avance si la suppression d'un mod dans la liste peut créer des conflits ou s'il est dépendant d'un mod important.

Mods en question :
Binoculars

[2020-04-28 14:14] forgecitizens opened #75 "Afficher quelques informations pratiques ingame"
En suivant le .pdf ci-joint, afficher d'abord les commandes de base dans un rectangle gris à droite de l'écran en veillant bien à ce qu'elles apparaissent telles que présentées dans le .pdf

Enfin, afficher les messages dans le chat dès lors que l'utilisateur active le vote vol ou le mode noclip.

"Mod vol activé. Touche Espace pour vous élever, Shift Gauche pour descendre, E pour accélerer. A com

[2020-04-28 14:14] forgecitizens commented on #75
[AidesContextuelles.pdf](https://github.com/EvidenceBKidscode/kidscode/files/4546242/AidesContextuelles.pdf)

[2020-04-29 01:47] kilbith commented on #73
Fait.

[2020-04-29 01:47] #73 closed, assigned to kilbith

[2020-04-29 01:50] kilbith commented on #74
Fait.

[2020-04-29 01:50] #74 closed, assigned to kilbith

[2020-04-29 02:27] kilbith commented on #75
Fait.

[2020-04-29 02:31] kilbith commented on #68
`2020-04-29 04:31:09: ERROR[Server]: Item "kidsblocks_native:cobblestone" not defined at position (43,10,5)`

[2020-04-29 02:32] kilbith commented on #74
@pyrollo Apparemment le mod `map` dépend du mod `dye`...

[2020-04-29 07:14] pyrollo commented on #74
Ok, je vais le virer aussi, il ne nous sert à rien map.

[2020-04-29 07:38] pyrollo commented on #74
@kilbith j'ai eu aussi un pb avec xdecor dépendant de bucket.
Pour résoudre en mode bourrin j'ai juste mis bucket en optionel.
Est-ce que tu peux regarder dans xdecor ce que ça risque de ne pas avoir ce mod ?

[2020-04-29 09:15] pyrollo commented on #56
J'ai le même pb avec le dernier client en utilisant l'adresse IP proposée par la liste. Par contre, en la remplaçant par l'IP de la boucle locale, 127.0.0.1 (sans changer le port), ça marche.
Il doit y avoir un pb de réseau (firewall ?) qui empêche de se connecter en utilisant l'IP externe.

[2020-04-29 09:23] forgecitizens commented on #75
Très bien pour les commandes de base, seulement les messages quand on active le mode vol et noclip disparaissent très vite (en moins d'une seconde chez moi). Il faut augmenter la durée d'apparition de ces messages (5 secondes ce serait bien).

[2020-04-29 09:27] forgecitizens commented on #71
J'ai encore le problème sur le client d'aujourd'hui

![Capture d’écran (824)](https://user-images.githubusercontent.com/25570981/80580755-5e075180-8a0c-11ea-86e1-196cbdd88479.png)

[2020-04-29 14:14] forgecitizens opened #76 "Superedit - enlever toutes les images contenues dans le mod"
Dans le mod Superedit il y a beaucoup d'images que nous n'utilisons pas pour la version IGN. Il faudrait toutes les enlever dans les prochains packages sauf naturellement la texture de l'outil superedit et de l'infoblock.
![Capture d’écran (829)](https://user-images.githubusercontent.com/25570981/80606294-6ecbbd80-8a34-11ea-8be5-3dce9c4bee1a.png)

[2020-04-29 15:17] kilbith commented on #75
J'y pensais hier soir avant de me coucher - c'est fait.

[2020-04-29 15:20] kilbith commented on #71
Erreur bête. Corrigé.

[2020-04-29 15:20] #71 closed, assigned to kilbith

[2020-04-29 15:28] kilbith commented on #76
Fait.

@pyrollo J'ai créé une branche `ign` pour le mod `superedit`.

[2020-04-29 15:28] #76 closed, assigned to kilbith

[2020-04-30 10:13] forgecitizens opened #77 "Déplacer le guide d'utilisation vers un nouvel onglet"
Pour rester cohérent avec ce qui est écrit dans la fenêtre d'accueil sur chaque monde, il faudrait créer un onglet "Aide" à droite de l'onglet IGN,  en utilisant la texture ci-jointe pour cet onglet.

Il faudrait ensuite que le guide d'utilisation, actuellement situé dans le menu IGN, n'apparaisse plus que dans cet onglet "Aide". Cela nous laissera un espace supplémentaire de libre dans le menu IG

[2020-04-30 15:17] kilbith commented on #77
Fait. Deux remarques cependant :

1. J'ai essayé la texture suggérée et elle ne rend pas bien du tout, du coup j'ai conservé l'actuelle :

![screenshot_20200430_171428](https://user-images.githubusercontent.com/7883281/80727733-5f1ca980-8b06-11ea-9f30-8648ecf3f546.png)

2. Il faut une texture en 64x64px pour l'onglet IGN.

[2020-04-30 15:17] #77 closed, assigned to kilbith, pyrollo

[2020-05-04 10:13] forgecitizens opened #78 "Supprimer définitivement refi_texture pack"
Erreur de ma part, ce texture pack ne fait que ralentir la vitesse de chargement des mondes. Je l'ai supprimé chez moi et les mondes chargent trois fois plus vite donc à enelever définitivement.

PS : je n'ai pas eu de conflits ni de bugs après suppression de celui-ci mais à vérifier de votre côté aussi.

[2020-05-04 10:19] forgecitizens opened #79 "Ajouter ces nouveaux blocs dans l'inventaire"
Il faudrait créer dans le jeu les blocs inclus dans le dossier .zip et les ajouter à l'inventaire créatif avec leur textures respectives. On mettra certaines dans la boîte à outils IGN mais pas tout de suite.

J'ai inclus la description en EN et en FR qui devra apparaître dans les infobulles.

Les textures sont libres de droit et trouvées sur internet.
[new_materials.zip](https://github.com/Eviden

[2020-05-04 11:33] forgecitizens opened #80 "Superposition des éléments sur la boussole"
Chez François, avec le client du Jeudi 31 Avril il a une superposition des éléments dans le menu avec la boussole. Je n'ai pas ce problème chez moi...
![Superposition](https://user-images.githubusercontent.com/25570981/80961708-ca6ac200-8e0b-11ea-94bb-776d66b0a23d.jpg)

[2020-05-04 14:38] kilbith commented on #80
@pyrollo serait-ce lié à `z_index` ?

[2020-05-04 15:41] pyrollo commented on #80
Ca ressemble plutôt à un problème de positionnement.

Je ne me souviens plus, il y avait peut être un mécanisme tout fait dans ign pour le positionnement des HUD.

[2020-05-04 15:49] pyrollo commented on #80
J'ai été voir dans ign_mesure/hud.lua, le positionnement de l'aide est attaché au bord bas alors que le reste est attaché au bord haut. Donc si la fenêtre est réduite les deux se chevauchent. Un moyen pour éviter ça serait de changer :
[code]
En qq chose comme:
[code]

[2020-05-04 19:55] kilbith commented on #78
Fait.

[2020-05-04 19:55] #78 closed, assigned to kilbith

[2020-05-04 20:22] kilbith commented on #79
https://github.com/EvidenceBKidscode/minetest_game/commit/f2c27455844414

@pyrollo pour une raison inconnue, les nodes ne sont pas ajoutés dans le jeu.
@Kickback9000  les textures pour `glass_brick` sont manquantes.

[2020-05-04 20:27] kilbith commented on #80
Corrigé.

[2020-05-04 20:27] #80 closed, assigned to kilbith, pyrollo

[2020-05-05 07:55] forgecitizens commented on #79
[new_materials.zip](https://github.com/EvidenceBKidscode/kidscode/files/4579513/new_materials.zip)
@kilbith  au temps pour moi elle y est dans ce .zip

[2020-05-05 14:07] forgecitizens opened #81 "Les commandes de base s'affichent en haut de l'écran"
Un changement survenu avec la version de cet après-midi.
![Capture d’écran (843)](https://user-images.githubusercontent.com/25570981/81075348-87335080-8eea-11ea-91f7-2ec30089ba1b.png)

[2020-05-05 14:09] pyrollo commented on #79
Ils manquent dans à la white list de ign_utils/mods_integration.lua

[2020-05-05 14:30] kilbith commented on #81
C’est normal, c’est une idée de Pierre-Yves et je trouve ça mieux comme ça (ne cache pas le bras).

[2020-05-05 14:55] pyrollo commented on #81
Ah non, je voyais ça à la suite de la boussole, mais attaché au bord haut pour éviter les chevauchements.

[2020-05-05 15:42] forgecitizens commented on #81
Oui c'est ça il faut que ce soit à la suite de la boussole.

[2020-05-05 17:11] kilbith commented on #81
Corrigé.

[2020-05-05 17:11] #81 closed, assigned to pyrollo

[2020-05-05 17:14] kilbith commented on #79
Si on doit ajouter chaque node à chaque fois dans la whitelist, c'est super relou !

[2020-05-05 17:14] kilbith commented on #70
Le problème vient de ça : https://github.com/EvidenceBKidscode/kidscode/issues/79#issuecomment-624078307

Il faut ajouter chaque node dans la whitelist.

[2020-05-05 17:27] kilbith commented on #79
Cette fois-ci les nodes sont ajoutés, par contre leurs variantes dans les items rétractables apparaissent comme inconnues. Il faut les rajouter dans la whitelist mais il y a en des centaines, ça prendrait énormément de temps, il faudrait plutôt avoir une blacklist plutôt qu'une whitelist qui est beaucoup trop fastidieuse à maintenir.

[2020-05-05 17:27] #79 closed, assigned to kilbith

[2020-05-06 08:30] forgecitizens commented on #75
Je rouvre ce ticket parce que dans le dernier client reçu l'affichage des infos disparaît à nouveau au bout d'une seconde.

[2020-05-06 09:22] pyrollo commented on #75
C'est peut être parce que le dernier client était sur une branche non fusionnée (du coup les modifs récentes de JP n'y étaient pas).

[2020-05-06 11:49] kilbith commented on #75
Quelle branche non-fusionnée ?

[2020-05-06 13:35] pyrollo commented on #75
La branche sur laquelle je développais l'intégration du mapserver. Elle est fusionnée maintenant.

[2020-05-07 10:18] forgecitizens commented on #75
Update : avec le client de ce matin je n'ai plus les informations relatives au mode vol activé et mode fantôme activé qui apparaissent. J'ai simplement les infos de base de Minetest :
"Mode vol activé"
"Noclip activé"

[2020-05-07 11:34] forgecitizens commented on #79
Merci @kilbith donc si je comprends bien tu as besoin d'une blacklist qui comporte uniquement les nodes dont on ne veut pas afficher les items rétractables c'est ça ?

[2020-05-07 11:36] kilbith commented on #79
Oui exact

[2020-05-07 12:32] pyrollo commented on #75
Bizarre, je viens de regarder, je les ai bien (sous windows).

Le numéro du client testé est : 6d35ce924

[2020-05-11 07:37] forgecitizens opened #82 "Problème lorsque l'on passe de la carte IGN directement sur World Edit"
Si je visualise la carte IGN depuis le menu IGN et que je clique sur World Edit :
- La fenêtre world edit s'affiche une seconde puis je reviens automatiquement sur la carte IGN.
- Le bug a lieu avec la carte ortho et l'image sattelite
- Le bug ne se produit pas si je choisis d'aller sur d'autres onglets.

![Capture d’écran (861)](https://user-images.githubusercontent.com/25570981/81535875-dce47e80

[2020-05-11 09:28] pyrollo commented on #82
Corrigé.

[2020-05-11 09:28] #82 closed, assigned to pyrollo

[2020-05-18 22:18] kilbith opened #83 "Problèmes avec les élements de formspec"
Comparatif du mod `craftguide` sur Minetest et Kidscode :

### Minetest

![screenshot_20200519_001456](https://user-images.githubusercontent.com/7883281/82264760-d73bf980-9965-11ea-9b2e-2a464a0dd568.png)

### Kidscode

![screenshot_20200519_001242](https://user-images.githubusercontent.com/7883281/82264773-dc994400-9965-11ea-9e42-1ff1ef4a51a6.png)

- **Problème 1 :** le `field` sur Kidscode est re

[2020-05-19 07:57] forgecitizens opened #84 "[crash] mémoire insuffisante en utilisant World Edit"
En voulant faire un "Remplacer" bloc X par bloc Y sur World Edit le serveur a crashé avec le message ci-dessous :
![Capture d’écran (910)](https://user-images.githubusercontent.com/25570981/82300324-f31bbb80-99b6-11ea-9d79-fe932cb629e7.png)

Pourtant il ne s'agissait pas d'une grande zone à couvrir.

[2020-05-19 07:59] forgecitizens opened #85 "Privilèges insuffisants sur toutes les cartes"
Avec le client du 18/05/2020 il faut systématiquement faire "grantme all" dès que je me connecte sur un monde.
Bien veiller à ce que les enseignants dans le futur n'aient pas besoin de passer par cette étape

[2020-05-19 08:01] forgecitizens commented on #75
Résolu

[2020-05-19 08:01] #75 closed, assigned to kilbith

[2020-05-19 09:02] pyrollo commented on #83
Problème 3: On a le même problème dans Minetest, il apparait quand on active "gui_scaling_filter". Je ne sais pas ce que ça implique de le désactiver par défaut.

[2020-05-19 09:05] pyrollo commented on #83
Idem pour le Problème 2. Même comportement dans Kidscode que dans Minetest.

[2020-05-19 09:11] pyrollo commented on #83
Pour mémoire, le bug est quelque part dans la fonction `guiScalingResizeCached`, fichier `guiscalingfilter.cpp`.

[2020-05-19 10:05] pyrollo commented on #83
Problème 1: Ca vient de la gestion de la couleur de fond dans Kidscode. On peut retirer ça, ça a l'air de fonctionner. On risque d'avoir des bugs sur d'anciens formspecs.

[2020-05-19 11:33] kilbith commented on #83
`gui_scaling_filter` a été activé pour de bonnes raisons dans le passé, je ne me souviens plus lesquelles (EDIT : pour l'interface du kidsbot il me semble, la qualité était mauvaise quand désactivé). Quoiqu'il en soit ça devrait marcher y compris avec le filtre activé.

Problème 1 : c'est pas très important, tu peux laisser de côté.

[2020-05-19 11:34] kilbith commented on #84
@pyrollo Il m’apparaît absolument nécessaire d'utiliser LuaJIT 2.1 avec GC64 activé comme dans les builds officiels Windows de Minetest.

[2020-05-19 12:18] pyrollo commented on #83
Pour le pb avec gui_scaling_filter faudrait ouvrir une issue côté minetest.

[2020-05-20 00:42] kilbith commented on #83
Corrigé.

[2020-05-20 00:42] #83 closed, assigned to pyrollo

[2020-05-28 13:57] forgecitizens opened #86 "TNT manquante dans le jeu"
Il faut remettre la TNT dans le jeu :
- également à placer dans la boîte à outils du menu IGN.
- Avec la même configuration initialement prévue (3 tnt maximum autorisées que l'on peut déclencher via le menu avalanche).

[2020-05-28 14:37] kilbith commented on #86
Le bloc de TNT ne figure pas dans la whitelist actuelle, d'où l'intérêt de revenir à une blacklist.

[2020-05-28 14:51] forgecitizens commented on #86
[kc_list.txt](https://github.com/EvidenceBKidscode/kidscode/files/4696305/kc_list.txt)
J'ai bien tnt node dans la whitelist pourtant

[2020-05-28 17:20] kilbith commented on #86
Non : le bloc de TNT c'est `tnt:tnt` et il ne figure pas dans la liste.

[2020-05-29 07:34] forgecitizens commented on #86
Par rapport à quelle liste de blocs je dois faire une blacklist ? Actuellement ce qu'il y a dans le jeu comme nodes et items me va très bien j'ai juste besoin que vous remettiez la tnt comme avant je ne comprends pas pourquoi il faut une blacklist pour remettre cette feature...

[2020-05-29 07:40] forgecitizens commented on #86
[nodes et items à supprimer.txt](https://github.com/EvidenceBKidscode/kidscode/files/4700297/nodes.et.items.a.supprimer.txt)
[Alias.a.supprimer.txt](https://github.com/EvidenceBKidscode/kidscode/files/4700298/Alias.a.supprimer.txt)

@kilbith moi j'avais déjà fait ces deux blacklist à l'époque et c'était bien les blocs et items à enelever du jeu. Tu peux réutiliser celles-ci du coup

[2020-05-30 00:57] kilbith commented on #86
Fait.

[2020-05-30 00:57] #86 closed, assigned to kilbith

[2020-05-30 01:03] kilbith commented on #84
Le problème devrait être réglé dans les nouveaux builds.

[2020-05-30 01:03] #84 closed, assigned to pyrollo

[2020-05-30 01:04] kilbith commented on #70
Problème réglé avec le passage à la blacklist (normalement).

[2020-05-30 01:04] #70 closed, assigned to kilbith

[2020-05-30 01:06] kilbith commented on #31
Est-ce toujours pertinent ?

[2020-05-30 01:07] kilbith commented on #51
Est-ce toujours d'actualité ?

[2020-05-30 01:17] kilbith commented on #85
Fait.

[2020-05-30 01:17] #85 closed, assigned to kilbith

[2020-05-30 01:18] kilbith commented on #55
Est-ce toujours d'actualité ?

[2020-05-30 01:19] kilbith commented on #39
Les performances sont a priori très bonnes désormais y compris sur de larges surfaces.

[2020-05-30 01:19] #39 closed, assigned to pyrollo

[2020-06-01 13:59] forgecitizens opened #87 "[Inventaire][UX] Descendre la page d'un cran sur certains nodes rétractables"
Lorsque je développe un node rétractable via le bouton "+" je ne vois pas les différentes alternatives du node si toutefois le node est situé tout en bas à droite de la page active. Il faut donc que je descende la page d'un cran via la flèche du bas pour voir les alternatives.
Est-il possible de décaler automatiquement **de deux lignes vers le bas** l'inventaire ?
![Capture d’écran (1022)](https:/

[2020-06-01 15:29] forgecitizens commented on #51
Oui dernier message de ce genre en date au 27 Mai
![Capture d’écran (1023)](https://user-images.githubusercontent.com/25570981/83424953-71537580-a42d-11ea-8a72-b892f489174d.png)

[2020-06-01 15:30] forgecitizens commented on #31
La demande reste ouverte si toutefois on pourra réaliser cela. Ce serait un plus pour le Ministère mais pas obligatoire

[2020-06-01 15:34] forgecitizens commented on #55
Non je ferme ;)

[2020-06-01 15:34] #55 closed, assigned to kilbith, pyrollo

[2020-06-02 09:18] forgecitizens opened #88 "[Connexion] Impossible de connecter un deuxième joueur au serveur local"
La connexion ne se fait pas quand je veux connecter un deuxième joueur.
Pour le moment je n'ai testé que sur le même PC et pas encore avec deux PC différents.

![Capture d’écran (1025)](https://user-images.githubusercontent.com/25570981/83502791-6d256780-a4c2-11ea-9381-d0462b23a02d.png)

[2020-06-11 13:33] kilbith commented on #87
Nouveau type d'inventaire.

[2020-06-11 13:33] #87 closed, assigned to kilbith

[2020-06-15 10:41] forgecitizens opened #89 "Atterir sur la page de la carte sélectionnée après l'import d'un .zip"
Après un import d'une carte via le bouton "Importer", et uniquement dans ce cas de figure précis, il faudrait que l'on soit automatiquement redirigé vers la deuxième page du menu principal (celle avec l'option Jouer en 3D et Lancer le cartographe) .

[2020-06-15 10:49] forgecitizens opened #90 "Ajouter un bouton "Renommer la carte" dans le menu principal"
Dans la fenêtre de sélection de la carte, lorsqu'on a sélectionné une carte :
- Ajouter un bouton "Renommer la carte" sous le bouton "Choisir cette carte" ou au-dessus.

Quand on clique dessus la fenêtre déjà existante qui nous demande de donner un titre à la carte apparaît. Le processus standard s'applique ensuite pour nommer la carte.

[2020-06-15 12:27] kilbith commented on #90
Fait.

[2020-06-15 12:27] #90 closed, assigned to kilbith

[2020-06-17 14:18] #31 closed, assigned to kilbith, pyrollo

[2020-06-18 09:32] forgecitizens opened #91 "Impossible de zoomer - zoom désactivé par un mod"
![Capture d’écran (1133)](https://user-images.githubusercontent.com/25570981/85004013-508e5e00-b157-11ea-85db-a1037e7de9d8.png)
Avec le dernier client le message "Le zoom est actuellement désactivé par le jeu ou par un mod" apparaît.

[2020-06-18 11:15] pyrollo commented on #89
Fait

[2020-06-18 11:15] #89 closed, assigned to pyrollo

[2020-06-18 12:45] pyrollo commented on #91
En relation avec le commit : https://github.com/EvidenceBKidscode/utils/commit/61c103cefdfb19acd9b258464c670c6154e2c613

[2020-06-18 12:55] pyrollo commented on #91
Tentative de réparation : https://github.com/EvidenceBKidscode/utils/commit/b37273f59c521c38a494a2fe0822bdbbb882e2a6

Mais ça fait quelques interférences si on avance vite en zoomant.

[2020-06-18 12:58] forgecitizens commented on #91
C'est quoi le commit en question j'arrive pas à y accéder Pierre-Yves. C'est quoi la feature qui a été poussée ?

[2020-06-18 13:01] pyrollo commented on #91
Une modif qui change l'angle du champ de vision quand le joueur avance vite. Apparament (c'est mal foutu dans MT) quand on spéficie le champ de vision, cela désactive le zoom.

[2020-06-22 13:22] pyrollo commented on #91
Corrigé dans le dernier client

[2020-06-22 13:22] #91 closed, assigned to kilbith, pyrollo

[2020-06-25 07:45] forgecitizens opened #92 "Différences à rajouter entre l'installation prof. et élève"
A la suite de la discussion d'hier, ci-joint les éléments à ne pas afficher dans le menu principal et ingame lors d'une installation élève.

[Différences_installations_eleve_prof.pdf](https://github.com/EvidenceBKidscode/kidscode/files/4829780/Differences_installations_eleve_prof.pdf)

[2020-06-25 11:54] kilbith commented on #92
Je pense pas qu'il soit nécessaire de faire deux clients. On pourrait trouver des solutions comme un bouton pour s'identifier comme enseignant, avec un mot de passe.

[2020-06-25 13:22] pyrollo commented on #92
@kilbith ya une option dans l'installeur qui met un settings.

[2020-06-25 16:12] kilbith commented on #92
Je me charge de ça alors, faudra juste me donner le setting.

[2020-06-25 16:49] pyrollo commented on #92
Ca passe par un parametre de la ligne de commande :
[code]
ou

[code]

Le setting `install` contient la valeur `student` ou `teacher` selon la ligne de commande.

Le mieux serait de restreindre dans le cas "student", de facon a tout avoir quand on ne passe pas de parametre.

[2020-06-28 20:42] kilbith commented on #92
All done.

[2020-06-28 20:42] #92 closed, assigned to kilbith

[2020-07-28 07:48] pyrollo opened #93 "Crash en mettant GUI scaling au minimum"
Menu pause > Options
En mettant le GUI Scaling au minimum (à gauche), le jeu plante avec les erreurs suivantes :+1: 2020-07-28 09:46:51: ERROR[Main]: FontEngine: attempt to use font size 0
2020-07-28 09:46:51: ERROR[Main]:   display density: 1

[2020-07-28 14:11] pyrollo opened #94 "Les symboles ne s'affichent pas tout de suite dans la minimap"
Lorsque l'on place un bloc pour afficher un symbole dans la minimap, le symbole n'apparait que beaucoup plus tard (peut être après déchargement/rechargement de la carte?).

[2020-08-03 13:21] pyrollo commented on #93
Corrigé

[2020-08-03 13:21] #93 closed, assigned to nobody

[2020-08-10 14:42] forgecitizens opened #95 "[ Crash pendant le jeu et retour au menu principal ]"
Détails ci-dessous :
https://pastebin.com/EgeWHQui

[2020-08-13 08:02] pyrollo opened #96 "Import d'une carte à la racine plante"
Si l'on importe une carte qui est à la racine de C:, le jeu plante :

[code]
(Le warning n'apparait pas quand tout se passe bien)

[2020-09-11 08:17] forgecitizens opened #97 "Crash du jeu en utilisant la feature "supprimer une aire" du bloc utilitaire"
Etapes pour reproduire

https://pastebin.com/xpajjdh3

[2020-09-24 08:51] pyrollo commented on #97
Corrigé

[2020-09-24 08:51] #97 closed, assigned to pyrollo